@font-face {
  font-family: ragular;
  src: url(../fonts/Adamina-Regular.ttf);
}
@font-face {
  font-family: bolder;
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: italic;
  src: url(../fonts/AlegreyaSans-Italic.ttf);
}
.UserAgent {
  width: 100%;
  display: flex;
  align-items: center;
}
.UserAgent-Item {
  margin: 30px;
  padding: 30px;
  border: solid 1px;
  width: 100%;
}
.UserAgent-ItemAge {
  display: flex;
  align-items: center;
  padding: 10px;
}
.UserAgent-ItemAgeLabel {
  width: 20%;
}
.UserAgent-ItemAgeValue {
  width: 80%;
}
.UserAgent-ItemHeader {
  font-family: ragular;
  font-size: 25px;
  padding-bottom: 15px;
  border-bottom: solid 1px #1c6d1c;
  margin-bottom: 15px;
}
