@font-face {
  font-family: ragular;
  src: url(../fonts/Adamina-Regular.ttf);
}
@font-face {
  font-family: bolder;
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: italic;
  src: url(../fonts/AlegreyaSans-Italic.ttf);
}
.Header {
  border: 0;
  width: 100%;
  font-size: 16px;
  border-radius: 0;
  height: 50px;
  background-color: hsla(0, 0%, 100%, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: ragular;
}
.Header-text {
  padding-left: 60px;
  color: gray;
  font-size: 25px;
  font-family: bolder;
}
.Header-searchBox {
  border: none;
  background-color: rgba(237, 236, 237, 1);
  height: 40px;
  outline: none;
  padding-left: 10px;
  font-family: italic;
  width: 200px;
  transition: 300ms;
}
.Header-searchBox:focus {
  background-color: rgba(237, 236, 237, 0.7);
}
.Header-searchBoxWrapper {
  position: absolute;
  right: 20px;
  top: 10px;
}
.Header-searchedBoxItem {
  position: relative;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Header-searchedItem {
  font-family: ragular;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  transition: 300ms;
  cursor: pointer;
}
.Header-searchedItem:hover {
  background-color: rgba(237, 236, 237, 0.7);
}
