@font-face {
  font-family: ragular;
  src: url(../fonts/Adamina-Regular.ttf);
}
@font-face {
  font-family: bolder;
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: italic;
  src: url(../fonts/AlegreyaSans-Italic.ttf);
}
.Header {
  border: 0;
  width: 100%;
  font-size: 16px;
  border-radius: 0;
  height: 50px;
  background-color: hsla(0, 0%, 100%, 0.96);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: ragular;
}
.Header-text {
  padding-left: 60px;
  color: gray;
  font-size: 25px;
  font-family: bolder;
  cursor: pointer;
  color: rgb(61, 177, 67);
}

.Header-searchBox {
  border: none;
  background-color: rgba(237, 236, 237, 1);
  height: 40px;
  outline: none;
  padding-left: 10px;
  font-family: italic;
  border-radius: 5px;
  width: 300px;
  transition: 300ms;
  position: relative;
}
.Header-searchBox:focus {
  background-color: rgba(237, 236, 237, 0.7);
}
.Header-searchBoxWrapper {
  position: absolute;
  top: 10px;
  z-index: 10;
}
.Header-searchedBoxItem {
  position: relative;
  background-color: #fff;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.Header-searchedItem {
  font-family: ragular;
  font-size: 13px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  transition: 300ms;
  cursor: pointer;
}
.Header-searchedItem:hover {
  background-color: rgba(237, 236, 237, 0.7);
}
.Header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 12%;
  padding-right: 20px;
}
.header-iconHome {
  background-image: url("../img/headerHome.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header-iconAgents {
  background-image: url("../img/statistics.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.header-iconLogout {
  background-image: url("../img/exit.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
