@font-face {
  font-family: ragular;
  src: url(../fonts/AlegreyaSans-Regular.ttf);
}
@font-face {
  font-family: bolder;
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: italic;
  src: url(../fonts/AlegreyaSans-Italic.ttf);
}

.Home {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.Home-logo .Home-logo-image {
  width: 100px;
  height: 100px;
}
.Home-title {
  font-family: bolder;
  font-size: 35px;
}
.Home-titleCaption {
  margin-top: 20px;
  font-size: 20px;
  font-family: italic;
  font-style: oblique;
  color: #697177;
}
.Home-container {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  height: 150px;
  justify-content: center;
  align-content: center;
}
.Home-containerLogin {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-containerSignUp {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-containerLogin-header {
  font-family: ragular;
  font-size: 20px;
  color: #546b52;
  height: 50%;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.Home-containerLogin-button {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Home-containerLoginBody {
  border: solid 1px #d3e3d8;
  border-radius: 3px;
  width: 320px;
  height: 200px;
}
.Home-containerSignUpBody {
  border: solid 1px #d3e3d8;
  border-radius: 3px;
  width: 320px;
  height: 200px;
}
.Home-image {
  width: 100%;
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  margin-bottom: 40px;
}
.Home-imageItem {
  margin-left: 20px;
  width: 25%;
  height: 200px;
  background-color: #fff;
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid rgba(255, 255, 255, 1);
}
.Home-imageItem1 {
  margin-left: 20px;
  width: 25%;
  height: 200px;
  background-color: #fff;
  background-image: url("../img/2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid rgba(255, 255, 255, 1);
}
.Home-imageItem2 {
  margin-left: 20px;
  width: 25%;
  height: 200px;
  background-color: #fff;
  background-image: url("../img/4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid rgba(255, 255, 255, 1);
}
.Home-imageItem3 {
  margin-left: 20px;
  width: 25%;
  height: 200px;
  background-color: #fff;
  background-image: url("../img/3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px solid rgba(255, 255, 255, 1);
}
.Home-imageItem-image {
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 500ms;
  cursor: pointer;
}
.Home-imageItem-image:hover {
  background-color: rgba(0, 0, 0, 0);
}
.Footer {
  width: 100%;
  height: 100px;
  background-color: #121511;
  color: #fff;
  padding-top: 20px;
  position: absolute;
  bottom: 0;
}
