@font-face {
  font-family: ragular;
  src: url(../fonts/Adamina-Regular.ttf);
}
@font-face {
  font-family: bolder;
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: italic;
  src: url(../fonts/AlegreyaSans-Italic.ttf);
}
.PaymentsGraph {
  width: 100%;
  display: flex;
}

.PaymentsGraph-tab {
  width: 20%;
  margin-top: 40px;
  background: #131e1e;
  padding-top: 20px;
  height: 500px;
}
.PaymentsGraph-tabItem {
  font-size: 17px;
  font-family: bolder;
  width: 100%;
  color: grey;
  text-align: left;
  padding-left: 20px;
  display: flex;
  height: 40px;
  align-items: center;
  border-bottom: solid 1px rgba(252, 254, 254, 0.19);
  cursor: pointer;
  transition: 300ms;
}
.PaymentsGraph-tabItem:hover {
  background: rgba(252, 254, 254, 0.19);
  color: #fff;
}
.PaymentsGraph-tabItem:active {
  color: #1d3316;
}
.PaymentsGraph-tabItem-active {
  background-color: #fff;
  color: grey;
}
.PaymentsGraph-tabItem-active:hover {
  background: #fff;
  color: grey;
}
.PaymentGraph-graphs {
  margin-top: 40px;
  width: 80%;
  padding: 30px;
}
.PaymentGraph-header {
  font-size: 17px;
  margin: 20px;
  font-family: bolder;
}

.PaymentGraph-totalBal {
  width: 100%;
  display: flex;
}
.PaymentGraph-totalBal-item {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background: #795ef1;
  color: #2b2546;
}
.PaymentGraph-totalBal-label {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: bolder;
  font-size: 16px;
}
.paymentgraph-totalbal-value {
  font-family: ragular;
  font-size: 14px;
}
.PaymentGraph-totalBal-item1 {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background: #f1785e;
  color: #341e19;
}

.PaymentGraph-totalBal-label1 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: bolder;
  font-size: 16px;
}
.paymentgraph-totalbal-value1 {
  font-family: ragular;
  font-size: 14px;
}
.PaymentGraph-totalBal-item2 {
  width: 200px;
  margin: 10px;
  padding: 10px;
  background: #2bc891;
  color: #0e251d;
}

.PaymentGraph-totalBal-label2 {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: bolder;
  font-size: 16px;
}
.paymentgraph-totalbal-value2 {
  font-family: ragular;
  font-size: 14px;
}
