@font-face {
  font-family: ragular;
  src: url(../fonts/Adamina-Regular.ttf);
}
@font-face {
  font-family: bolder;
  src: url(../fonts/AlegreyaSans-Medium.ttf);
}
@font-face {
  font-family: italic;
  src: url(../fonts/AlegreyaSans-Italic.ttf);
}
.PaymentsGraph {
  width: 100%;
  display: flex;
}

.PaymentGraph-graphs {
  width: 80%;
  padding: 0px 30px 30px 0px;
}
.PaymentGraph-graphs-Body {
  margin-left: 20px;
}
.PaymentGraph-header {
  font-size: 17px;
  margin: 20px;
  font-family: bolder;
}

.PaymentGraph-totalBal {
  width: 100%;
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  height: 120px;
  justify-content: space-between;
}
.PaymentGraph-totalBal-item {
  width: 33.33%;
  margin: 10px;
  padding: 10px;
  background-color: #fff;
  display: flex;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.PaymentGraph-totalBal-label {
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  background-image: url("../img/payable.svg");
  background-size: 60px;
  background-repeat: no-repeat;
  opacity: 0.6;
  align-items: center;
  background-position: center;
}
.PaymentGraph-totalBal-value {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.PaymentGraph-totalBal-value-label {
  font-size: 13px;
  color: #5e5952;
  font-family: ragular;
}
.PaymentGraph-totalBal-value-labelMoney {
  font-family: bolder;
  font-size: 20px;
}
.PaymentGraph-totalBal-label1 {
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  background-image: url("../img/paid.svg");
  background-size: 60px;
  background-repeat: no-repeat;
  opacity: 0.6;
  align-items: center;
  background-position: center;
}
.PaymentGraph-totalBal-label2 {
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  height: 100%;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  background-image: url("../img/balance.svg");
  background-size: 60px;
  background-repeat: no-repeat;
  opacity: 0.6;
  align-items: center;
  background-position: center;
}
.PaymentGraph-graphsItem {
  background: #fff;
  height: auto;
  width: 72%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.PaymentGraph-graphsItems {
  height: 400px;
  width: 100%;
  margin-top: 20px;
  margin-left: 10px;
  padding-left: 10px;
  margin-bottom: 30px;
  display: flex;
}
.PaymentGraph-graphsItem-graph1 {
  background: #fff;
  width: 60%;
  height: 100%;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.PaymentGraph-graphsItem-graph2 {
  background: #fff;
  width: 40%;
  margin-left: 10px;
  height: 100%;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
