.Payment {
  width: 100%;
  display: flex;
}
.Payment-graphs-Body {
  margin-left: 20px;
  margin-top: 20px;
  background-color: #fff;
  padding: 10px;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
.Payment-List {
  width: 80%;
  padding: 0px 30px 30px 0px;
}
.Payment-Item {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: solid 1px rgb(206, 204, 204);
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  transition: 200ms;
}
.Payment-Item:hover {
  background-color: rgb(206, 204, 204);
}
.Payment-ListHeader {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: bolder;
  font-size: 15px;
  font-weight: 600;
}
.Payment-ItemName {
  width: 20%;
  text-align: initial;
  margin-left: 10px;
}
.Payment-ItemClientId {
  width: 20%;
  text-align: initial;
}
.Payment-ItemAgentId {
  width: 15%;
  text-align: initial;
}
.Payment-ItemAmountPayable {
  width: 15%;
  text-align: initial;
}
.Payment-ItemAmountPaid {
  width: 15%;
  text-align: initial;
}
.Payment-ItemBalance {
  width: 15%;
  text-align: initial;
}
.Payment-ItemHeaderName {
  width: 20%;
  text-align: initial;
}
.Payment-ItemHeaderClientId {
  width: 20%;
  text-align: initial;
}
.Payment-ItemHeaderAgentId {
  width: 15%;
  text-align: initial;
}
.Payment-ItemHeaderAmountPayable {
  width: 15%;
  text-align: initial;
}
.Payment-ItemHeaderAmountPaid {
  width: 15%;
  text-align: initial;
}
.Payment-ItemHeaderBalance {
  width: 15%;
  text-align: initial;
}
